In [3]:
import matplotlib.pyplot as plt
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import seaborn as sns

plt.style.use('fivethirtyeight')

In [4]:
df = pd.read_csv('./dengue.csv')
df.head()

           Time  dengue-sg
0  9.472900e+11         17
1  9.478940e+11         10
2  9.484990e+11         15
3  9.491040e+11         15
4  9.497090e+11         13

In [5]:
# The time delta are roughly +/- 1 hour from the a week's time (604.8e6)
# so we just check that the time deltas are within the week, i.e., not
# delayed by more than half a week
df["Time"].diff().between(604.8e6 * 0.5, 604.8e6 * 1.5)[1 :].all()

True

In [8]:
df2 = pd.read_csv('./dengue_human_times.csv', index_col=[0], parse_dates=[0])
df2.head()

            dengue-sg
Time
2000-01-08         17
2000-01-15         10
2000-01-22         15
2000-01-29         15
2000-02-05         13

In [18]:
np.isclose(df2.index.to_series().diff().dt.days.div(7)[1 :], 1.0).all()

True